@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
/* ------------- VARIABLES ----------------- */
:root {

    --color-primary: #255538;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #fb5;
    --color-text: #000000;
    --color-background: #f3e5d8;
    --color-tittle: #7e4333;
    --color-card: #fff;
    --color-card-shadow: #797979;
    

    --color-text-header: #7e4333;
    --color-text-nav: #edeffd;
    --color-btn-drk-light: #797979;
    --color-btn-drk-light-act: #7cbb95;
    --color-text-footer: #edeffd;

    --card-border-radius: 10px;
    --img-border-radius: 20px;
    --border-radius-1: 7px;
    --border-radius-2: 5px;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    background-color: var(--color-background);
}

h1,h2,
h3,h4 {
  color: var(--color-tittle);
  font-family: "DM Serif Display";
}

a{
    text-decoration: none;
}

a,p,ul,li{
    color: var(--color-text);
    font-family: "DM Sans";
}

/*---------------------------- HEADER / NAV -------------------- */

header{
    background-color: var(--color-primary);
    margin: 1px 3px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius-1);
}


header a, span{
    color: var(--color-text-nav);
}

.img-logo{
    margin-left: 10px;
    width: 90px;
    height: 27px;
    padding: 5px 5px;
}

.envio-receta{
    position: absolute;
    right: 75px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    margin-right: var(--img-border-radius);
}

.theme-toggler {
    background: var(--color-btn-drk-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    height: 24px;
    width: 75px;
    cursor: pointer;
    border-radius: var(--border-radius-2);
}

.theme-toggler span {
    font-size: 19px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-toggler span.active {
    background: var(--color-btn-drk-light-act);
    color: white;
    border-radius: var(--border-radius-2);
}

/*---------------------------- MAIN -------------------- */

main{
    max-width: 1530px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 65% 35%;
    grid-template-areas: "infoReceta contLateral";
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    padding: 20px 40px;
}

ol li{
    margin-bottom: 10px;
}

ul li{
    margin-bottom: 5px;
}

.contenedor-receta{
    width: 100%;
    height: auto;
    grid-area: infoReceta;
    position: relative;
    background-color: var(--color-card);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.cont-img-receta{
    width: 100%;
    display: flex;
    align-items: center;
}

.img-receta{
    width: 100%;
    height: 100%;
    object-fit: center;
    padding: 10px;
    border-radius: var(--img-border-radius);
}

.recipe-tittle{
    font-size: 40px;
}

.info-receta{
    text-align: center;
    margin: 40px 20px;
}

.recipe-desc{
    margin-top: 20px;
}

.cont-tiempo{
    background-color: var(--color-background);
    margin: 20px;
    border-radius: var(--card-border-radius);
}

.info-tiempo{
    padding: 20px;
    margin-left: 40px;
}

.tittle-time{
    font-size: 20px;
    margin-bottom: 10px;
}

.list-time{
    margin-left: 50px;
}

.cont-info-prep{
    margin: 30px 15px;
}

.tittle-prep{
    font-size: 40px;
    margin-bottom: 20px;
}

.list-prep{
    margin-left: 20px;
}

.contenedor-lat{
    width: 100%;
    grid-area: contLateral;
}

.contenedor-lat ul li{
    margin-bottom: 20px;
}

.cont-info-nut{
    background-color: var(--color-card);
    width: 100%;
    height: auto;
    padding: 10px 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: var(--card-border-radius);
}

.cont-ingredients{
    padding: 10px 25px;
}

.tittle-ingredients{
    font-size: 25px;
    margin-bottom: 15px;
}

.list-ingredients{
    margin-left: 25px;
}

.cont-nut{
    padding: 10px;
}

.tittle-nut{
    font-size: 25px;
    margin-bottom: 15px;
}

.tb-nut{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    border-spacing: 5px;
}

.tb-nut td{
    border-bottom: 1px solid var(--color-tittle);
    width: 100%;
    padding-top: 15px;
}

.tb-nut tr td:nth-of-type(2){
    text-align: right;
}

.cont-more{
    background-color: var(--color-card);
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: var(--card-border-radius);
}

.tittle-more{
    margin-bottom: 10px;
}

.recipe-card{
    display: flex;
    padding: 6px 8px;
}

.cont-img-card{
    width: 100px;
    height: auto;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.img-card{
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: var(--img-border-radius);
}

/*---------------------------- FOOTER -------------------- */

footer {
    background-color: var(--color-primary);
    margin: 0px 3px;
    margin-top: 10px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius-1);
}

footer p{
    margin-right: 20px;
    color: var(--color-text-footer);
}


/*---------------------------- MEDIA QUERIES -------------------- */

/* ----- 1100 PX ----- */

@media (max-width: 1100px){

    main{
        gap: 13px;
        padding: 10px;
    }

}

/* ----- 850 PX ----- */

@media (max-width: 850px){

    main{
        grid-template-columns: auto;
        grid-template-areas: "infoReceta"
                        "contLateral";
    }

    .info-tiempo{
        padding: 10px;
        margin-left: 20px;
    }

}