<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--MATERIAL ICONS-->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
    <title>Champiñones Rellenos de Queso Crema</title>
    <link rel="stylesheet" href="../css/detallesStyle.css">
</head>
<body>
    <header>
        <a href="../index.html">
          <img class="img-logo" src="../img/logo_bitcook.png" alt="Logo de la pagina Bit Cook" />
        </a>
        <a class="envio-receta" href="../views/form.html">Send your Recipe</a>
        <div class="theme-toggler">
          <span class="material-symbols-outlined active">light_mode</span>
          <span class="material-symbols-outlined">dark_mode</span>
      </div>
    </header>
    <main>
        <div class="contenedor-receta">
          <div class="cont-img-receta">
            <img class="img-receta" src="../img/ChampinonesRellenos.jpg" alt="Huevos Motuleños">
          </div>
          <div class="cont-info-receta">
            <div class="info-receta">
              <h1 class="recipe-tittle">Champiñones Rellenos de Queso</h1>
              <p class="recipe-desc">Los champiñones rellenos de jamón y queso Philadelphia al horno son una opción deliciosa y versátil para disfrutar en cualquier ocasión. Esta receta combina la textura suave de los champiñones, el sabor salado del jamón y la cremosidad del queso Philadelphia, creando una explosión de sabores en cada bocado. ¡No dudes en probarla y sorprender a tus seres queridos con este irresistible plato!</p>
            </div>
            <div class="cont-tiempo">
              <div class="info-tiempo">
                <h3 class="tittle-time">Tiempos de preparación</h3>
                <ul class="list-time">
                  <li>Tiempo total: 20 a 25 minutos</li>
                  <li>Tiempo de cocción: 10 a 15 minutos</li>
                </ul>
              </div>
            </div>
            <div class="cont-info-prep">
              <h2 class="tittle-prep">Pasos:</h2>
              <ol class="list-prep">
                <li>Lava los champiñones bajo agua fría y retira los tallos. Reserva los tallos para usar más tarde en el relleno. Coloca los champiñones en una bandeja para hornear y precalienta el horno a 180°C.</li>
                <li>Pica finamente los tallos de los champiñones y el diente de ajo. En una sartén, calienta un poco de aceite de oliva y saltea los tallos y el ajo durante unos minutos, hasta que estén dorados. Luego, añade el jamón serrano picado y cocina por unos minutos más.</li>
                <li>Una vez que el relleno esté listo, colócalo dentro de cada champiñón, asegurándote de presionar ligeramente para que se adhiera bien. Coloca los champiñones rellenos en la bandeja para hornear y espolvorea un poco de sal y pimienta por encima.</li>
                <li>Introduce la bandeja en el horno precalentado y hornea durante aproximadamente 20 minutos, o hasta que los champiñones estén tiernos y el queso se haya derretido y esté ligeramente dorado por encima.</li>
                <li>Servir.</li>           
              </ol>
            </div>
          </div>
        </div>
        <aside class="contenedor-lat">
          <div class="cont-info-nut">
            <div class="cont-ingredients">
              <h2 class="tittle-ingredients">Ingredientes</h2>
              <ul class="list-ingredients">
                <li>12 champiñones grandes</li>
                <li>100 gramos de jamón serrano</li>
                <li>100 gramos de queso Philadelphia</li>
                <li>1 diente de ajo</li>
                <li>Aceite de oliva</li>
                <li>Sal al gusto</li>
                <li>Pimienta al gusto</li>
              </ul>
            </div>
            <div class="cont-nut">
              <h2 class="tittle-nut">Valor Nutricional</h2>
              <table class="tb-nut">
                <tr>
                  <td>Calorias</td>
                  <td>400kcal</td>
                </tr>
                <tr>
                  <td>Carbohidratos</td>
                  <td>28g</td>
                </tr>
                <tr>
                  <td>Proteinas</td>
                  <td>30g</td>
                </tr>
                <tr>
                  <td>Grasas</td>
                  <td>18g</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="cont-more">
            <h2 class="tittle-more">Otras Recetas</h2>
            <a href="../views/detalleHuevosMotulenos.html">
              <div class="recipe-card">
                <div class="cont-img-card">
                  <img src="../img/HuevosMotulenos.jpg" alt="Champiñones Rellenos de Queso" class="img-card">
                </div>
                <div class="info-card">
                  <h3 class="tittle-card">Huevos Motuleños</h3>
                  <p class="txt-card">Tortillas con frijoles, huevos fritos y salsa de tomate.
                  </p>
                </div>
              </div>
            </a>
            <a href="../views/detalleHotDogsConTocino.html">
              <div class="recipe-card">
                <div class="cont-img-card">
                  <img src="../img/HotDog.jpg" alt="Hot Dogs con Tocino" class="img-card">
                </div>
                <div class="info-card">
                  <h3 class="tittle-card">Hot Dog con Tocino</h3>
                  <p class="txt-card">Salchichas envueltas en tocino, servidas en pan con queso derretido.</p>
                </div>
              </div>
            </a>
            <a href="../views/detalleRamenDePolloYVerduras.html">
              <div class="recipe-card">
                <div class="cont-img-card">
                  <img src="../img/RamenDePollo.jpg" alt="Ramen de Pollo" class="img-card">
                </div>
                <div class="info-card">
                  <h3 class="tittle-card">Ramen de Pollo</h3>
                  <p class="txt-card">Fideos ramen con caldo de pollo, verduras y pollo cocido.</p>
                </div>
              </div>
            </a>
          </div>
        </aside>
    </main>
    <footer>
        <img class="img-logo" src="../img/logo_bitcook.png" alt="" />
        <p>© 2024 Bogotá Institute of Technology.</p>
    </footer>
</body>
</html>