<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--MATERIAL ICONS-->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
    <title>Hot Dogs con Tocino y Queso</title>
    <link rel="stylesheet" href="../css/detallesStyle.css">
</head>
<body>
    <header>
        <a href="../index.html">
          <img class="img-logo" src="../img/logo_bitcook.png" alt="Logo de la pagina Bit Cook" />
        </a>
        <a class="envio-receta" href="../views/form.html">Send your Recipe</a>
        <div class="theme-toggler">
          <span class="material-symbols-outlined active">light_mode</span>
          <span class="material-symbols-outlined">dark_mode</span>
      </div>
    </header>
    <main>
        <div class="contenedor-receta">
          <div class="cont-img-receta">
            <img class="img-receta" src="../img/HotDog.jpg" alt="Hot Dogs con tocino">
          </div>
          <div class="cont-info-receta">
            <div class="info-receta">
              <h1 class="recipe-tittle">Hot Dogs con Tocino</h1>
              <p class="recipe-desc">Los hot dogs son comida rápida, que es muy fácil de preparar, aunque tienen su origen en Alemania, en México esta receta se ha adaptado y se han hecho diferentes variaciones del platillo con ingredientes nacionales.</p>
            </div>
            <div class="cont-tiempo">
              <div class="info-tiempo">
                <h3 class="tittle-time">Tiempos de preparación</h3>
                <ul class="list-time">
                  <li>Tiempo total: 30 minutos</li>
                  <li>Tiempo de cocción: 10 minutos</li>
                </ul>
              </div>
            </div>
            <div class="cont-info-prep">
              <h2 class="tittle-prep">Pasos:</h2>
              <ol class="list-prep">
                <li>Envuelve cada salchicha con una tira de tocino y asegúrala con un palillo.</li>
                <li>En un sartén coloca un chorrito de aceite vegetal y coloca las salchichas con tocino. Cocina hasta que el tocino quede listo.</li>
                <li>Luego baja el fuego y sobre las salchichas pon el queso rallado. Tapa el sartén y deja que el queso se derrita y retira de la lumbre.</li>
                <li>Abre los panes por la mitad sin separarlos completamente y tuéstalos ligeramente en una plancha o comal.</li>
                <li>Arma los hot dogs colocando una salchicha con tocino y queso sobre cada pan.</li>
                <li>Coloca una pequeña porción de jitomate y cebolla picada sobre el hot dog.</li>
                <li>Finalmente añade salsa de tomate, mostaza, mayonesa o chiles en vinagre, lo que más te guste para darle más sabor a tu platillo.</li>       
              </ol>
            </div>
          </div>
        </div>
        <aside class="contenedor-lat">
          <div class="cont-info-nut">
            <div class="cont-ingredients">
              <h2 class="tittle-ingredients">Ingredientes</h2>
              <ul class="list-ingredients">
                <li>4 salchichas tipo Frankfurt</li>
                <li>4 panes para hot dog</li>
                <li>4 tiras de tocino</li>
                <li>100 g de queso cheddar rallado</li>
                <li>1/4 de cebolla picada</li>
                <li>1 jitomates</li>
                <li>Salsa de tomate, mostaza y mayonesa, chile en vinagre o salsa picante</li>
                <li>1 chorrito de aceite vegetal</li>
              </ul>
            </div>
            <div class="cont-nut">
              <h2 class="tittle-nut">Valor Nutricional</h2>
              <table class="tb-nut">
                <tr>
                  <td>Calorias</td>
                  <td>400kcal</td>
                </tr>
                <tr>
                  <td>Carbohidratos</td>
                  <td>28g</td>
                </tr>
                <tr>
                  <td>Proteinas</td>
                  <td>30g</td>
                </tr>
                <tr>
                  <td>Grasas</td>
                  <td>18g</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="cont-more">
            <h2 class="tittle-more">Otras Recetas</h2>
            <a href="../views/detalleChampinonesRellenos.html">
              <div class="recipe-card">
                <div class="cont-img-card">
                  <img src="../img/ChampinonesRellenos.jpg" alt="Champiñones Rellenos de Queso" class="img-card">
                </div>
                <div class="info-card">
                  <h3 class="tittle-card">Champiñones Rellenos</h3>
                  <p class="txt-card">Champiñones horneados rellenos de queso crema.</p>
                </div>
              </div>
            </a>
            <a href="../views/detalleTacosDeCarneMolida.html">
              <div class="recipe-card">
                <div class="cont-img-card">
                  <img src="../img/TacosCarneMolida.jpg" alt="Tacos de carne molida" class="img-card">
                </div>
                <div class="info-card">
                  <h3 class="tittle-card">Tacos de Carne Molida</h3>
                  <p class="txt-card">Carne molida con especias, servida en tortillas de maíz.</p>
                </div>
              </div>
            </a>
            <a href="../views/detalleRamenDePolloYVerduras.html">
              <div class="recipe-card">
                <div class="cont-img-card">
                  <img src="../img/RamenDePollo.jpg" alt="Ramen de Pollo" class="img-card">
                </div>
                <div class="info-card">
                  <h3 class="tittle-card">Ramen de Pollo</h3>
                  <p class="txt-card">Fideos ramen con caldo de pollo, verduras y pollo cocido.</p>
                </div>
              </div>
            </a>
          </div>
        </aside>
    </main>
    <footer>
        <img class="img-logo" src="../img/logo_bitcook.png" alt="" />
        <p>© 2024 Bogotá Institute of Technology.</p>
    </footer>
</body>
</html>